@charset "UTF-8";
/* CSS Document */


*{margin:0; padding:0}
	body{background-color:#fafafa; font-family:Arial, Helvetica, sans-serif}
	#wrapper{max-width:1280px; background-color:#fff; margin:0 auto;}
	.container{width:1280px; position:relative; margin-left:auto; margin-right:auto; }
	#auxNav{background-color:#000; color:#fff; overflow:auto; padding: 10px 0px; }
	#auxNav ul{float:right; position:relative; text-transform:uppercase}
	#auxNav ul li{display:inline-block; position:relative; padding:0 10px; font-size:11px}
	#auxNav ul li::after{content:""; width:1px; height:12px; background-color:#474747; position:absolute; right:0px; top:25%}
	#auxNav ul li:last-child:after{display:none}
	#auxNav ul li a{color:#fff; text-decoration:none}
	
	header{background-color:#d3d3d3; padding-bottom:20px}
	.mainNav{padding:20px 0px}
	nav{display:table; width:100%; table-layout:fixed;}
	nav ul{display:table-row; height:100%}
	nav ul li{display:table-cell; text-align:center; vertical-align:middle; border:1px #000 solid; position:relative; padding:0px}
	nav ul li a{display:block; color:#000;  font-size:0.95em; text-decoration:none; text-transform:uppercase; vertical-align:middle; padding:12px 10px}
	nav ul li.active{ background-color:#000}
	nav ul li.active a{color:#fff;}
	nav ul li.active::after{content:""; background-color:transparent; position:absolute; top:20%; right:-13px; border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;  border-left: 15px solid #000;}
	
	.row{width:960px; display:block; position:relative; overflow:auto; margin:0 auto; padding-bottom:5px; padding-top:5px}
	.logo{width:20%; float:left; position:relative;}
	.logoSlogan{font-size:12px;}
	.logoPrinc{font-size:30px; text-transform:uppercase; font-weight:bold; display:block;}
	.userMenu{width:80%; float:left; position:relative; margin-top:10px; font-size:0.80em}
	
	.userMenu ul{float:right; text-transform:uppercase}
	.userMenu ul li{display:inline-block; color:#000; text-decoration:none; position:relative; padding:0 10px 0 6px}
	.userMenu ul li.socialN{font-size:18px;}
	.userMenu ul li.socialN::after{display:none}
	.userMenu ul li::after{content:""; width:1px; height:10px; background-color:#333; position:absolute; right:0px; top:25%}
	.userMenu ul li a{display:inline-block; color:#000; text-decoration:none}
	
	#mainWrapper{background-color:#fff; padding:30px 0}
	#mainContent{width:75%; position:relative; float:left;}
	#mainContent .breadCrumbs{font-size:18px;}
	#mainContent .breadCrumbs ul li{display:inline-block; position:relative;  padding:15px}
	#mainContent .breadCrumbs ul li::after{content:"/"; position:absolute; right:0px; top:35%; font-size:15px; font-weight:normal; color:#999}
	#mainContent .breadCrumbs ul li.activeBreadcrumb{color:#999;}
	#mainContent .breadCrumbs ul li:first-child{padding-left:0px}
	#mainContent .breadCrumbs ul li:last-child:after{display:none}
	.contentInfo{padding-right:20px; display:block; position:relative; overflow:auto}
	.atractivoRow{display:table; width:100%; margin-top:15px}
	#atraccionImage, #atraccionContent{display:block;float:left;}
	#atraccionImage{width:40%; height:200px; background-color:#333}
	#atraccionContent{width:60%}
	#atraccionContent p{padding-left:20px}
	#buttonsInt a{width:49%; display:inline; border:1px #fff solid; text-align:center; background-color:#000; color:#fff; text-transform:uppercase; float:left; text-decoration:none; font-size:16px; padding:15px 0px }
	#buttonCotizar{padding-top:20px}
	.buttonPrinc{float:right; color:#fff; background-color:#000; font-size:15px; font-weight:bold; text-align:center; border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px; padding:15px 45px; border:none; cursor:pointer;}
	
	#seccionTitulo, #atraccionTitle{font-size:20px; padding-bottom:10px; border-bottom:1px #cacaca solid; padding-top:25px; margin-bottom:20px}
	#actionsWeb{width:25%; position:relative; float:left; font-size:0.85em}
	.containerActions{padding:30px 10px; display:block; font-.size:0.90em}
	.CTATitle{background-color:#000; color:#fff; font-size:1.3em; text-align:center; padding:10px 5px; margin-bottom:20px; text-transform:uppercase}
	.CTATitle span{font-size:0.75em; display:block; font-weight:normal; text-transform:none!important}
	h4{font-size:16px; text-transform:uppercase}
	.precioRegular, .precioLinea{display:block;  padding:10px 0px}
	.precioRegular{font-size:12px;}
	.precioRegular strong{text-decoration:line-through}
	.precioLinea{font-size:16px;font-weight:bold;}
	.addServices{font-size:12px}
	.addServices div{margin-bottom:15px}
	.addServices label{padding-bottom:15px; }
	.addServices label strong{font-size:13px; display:block;}
	.addServices input[type=checkbox]{margin-right:5px}
	.addServices input[type=submit]{display:block; background-color:#000; color:#fff; font-size:15px; font-weight:bold; padding:15px 15px; width:100%; text-transform:uppercase; border:none; margin-top:20px; border-radius:4px; -moz-border-radius:4px; -o-border-radius:4px; -webkit-border-radius:4px}
	.termsContainer{margin-top:40px; font-size:11px; font-style:italic; color:#333 }
	.termsContainer ul{list-style-type:none}
	footer{background-color:#222; color:#fff;}
	footer a{color:#fff; text-decoration:none}
	footer ul{list-style-type:none}
    footer ul li img{width:150px; display:block; margin:0 auto; margin-top:20px; margin-bottom:20px}
	footer h5{font-size:20px; text-align:center; padding-bottom:20px}
	footer h6{font-size:16px; text-transform:uppercase; padding:15px 0px 20px 0px}
	.footerMenu{font-size:12px; list-style-type:none;}
	.footerMenu li{padding:3px 2px 3px 8px;}
	.col12{width:100%; position:relative; min-heigth:1px;  float:left;}
	.col3{width:33.3333%; position:relative; min-heigth:1px;float:left;}
	.footerInfo{background-color:#000}
	.footerNav, .footerInfo{padding:30px 0 40px 0}
	.legalInfo{font-size:12px; padding-top:25px}
	
